.top{
	width: 100%;
	text-align: center;
	background-color: #0099FF;
	overflow: hidden;
}
.cont{
	width: 100%;
	background-color: #339999;
	overflow-x: hidden;
	overflow-y: auto;
}
.foot{
	width: 100%;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	background-color: #666699;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
